@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  height: calc(100vh - 10rem);
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100vw;
  max-width: calc(100vw - 4rem);
  outline: none;
}

.page {
  height: calc(100vh - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
  outline: none;
}
